- line_item_class = "line-item line-item-#{line_item.id.to_s}"
%tr{class: line_item_class}
  %td.cart-item-image
    - if variant.images.length == 0
      = link_to small_image(variant.product), variant.product
    - else
      = link_to image_tag(variant.images.first.attachment.url(:small)), variant.product
  %td.cart-item-title
    %h4= link_to line_item.name, product_path(variant.product)
    = link_to 'Remove', '#', class: "delete"
  %td.lead.text-primary.cart-item-price.price
    = line_item.single_money.to_html
  %td.cart-item-quantity
    = item_form.number_field :quantity, min: 0, class: "form-control line_item_quantity", size: 5

  - index = 0
  - line_item.product.grouped_option_values.each do |type, values|
    - if type.name =~ /(.*)size(.*)/i
      - cool_class = "text-primary cart-item-color variant-options index-"+index.to_s
      %td{id: dom_id(type), class: cool_class}
        - select_opts = []
        - disabled_opts = []
        - values.sort_by(&:position).each do |v|
          - unless (variants = line_item.product.variants_for_option_value(v)).empty?
            - if (variants.sum(&:total_on_hand) == 0)
              - disabled_opts << v.name
              - select_opts << [v.name + " out of stock", v.name, class: "out-of-stock option-value", data:{rel: "#{type.id}-#{v.id}"}]
            - else
              - select_opts << [v.name, class: "in-stock option-value", data:{rel: "#{type.id}-#{v.id}"}]
        - pre_selected_option = (values & variant.option_values).first.name
        = select_tag type.presentation, options_for_select(select_opts, selected: pre_selected_option, disabled: disabled_opts) , class: type.presentation+" variant-option-values"
    - index += 1
    - if type.name =~ /(.*)color(.*)/i
      - cool_class = "text-primary cart-item-size variant-options index-"+index.to_s
      %td{id: dom_id(type), class: cool_class}
        - select_opts = []
        - disabled_opts = []
        - values.sort_by(&:position).each do |v|
          - unless (variants = line_item.product.variants_for_option_value(v)).empty?
            - if (variants.sum(&:total_on_hand) == 0)
              - disabled_opts << v.name
              - select_opts << [v.name + " out of stock", v.name, class: "out-of-stock option-value", data:{rel: "#{type.id}-#{v.id}"}]
            - else
              - select_opts << [v.name, class: "in-stock option-value", data:{rel: "#{type.id}-#{v.id}"}]
        - pre_selected_option = (values & variant.option_values).first.name
        = select_tag type.presentation, options_for_select(select_opts, selected: pre_selected_option, disabled: disabled_opts) , class: type.presentation+" variant-option-values"


= render "spree/orders/init_line_item_variant_options_js", line_item: line_item